.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        .login-btn {
            text-transform: uppercase;
        }

        p {
            color: black;
        }

        .additional-choice {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content:  space-between;

            font-size: 14px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            text-align: left;
            margin-bottom: 5px;
        }

        input {
            padding: 10px;
            margin-bottom: 30px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            color: #fff;
            background-color: #ee4d2d;
            box-shadow: 0 1px 1px rgba(0,0,0,.09);

            padding: 10px;
            // background-color: #007BFF;
            // color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .switch {
            margin-top: 15px;
            font-size: 14px;
            color: rgba(0,0,0,.26);
        }

        a {
            color: #007BFF;
            text-decoration: none;
            margin: 0 5px;
        }


    }


}
